{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
	<main class="container">
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
			<label for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" placeholder="Exemple: Oquizz@mail.com" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<br />
			<br />
			<label for="inputPassword">Password</label>
			<input type="password" placeholder="Exemple: 0Qu1zz@123" id="inputPassword" class="form-control" autocomplete="current-password" required>
			<br />
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			<button class="btn btn-lg btn-primary" type="submit">
				Se connecter
			</button>
			<br />
			<br />
			<a href="{{ path('app_register') }}">Pas encore de compte ?</a>
		</form>
	</main>
{% endblock %}
