{% extends 'base.html.twig' %}
{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/oquizzmentions.css')}}">
{% endblock %}
{% block title %}Mentions légales{% endblock %}

{% block body %}
   

    <div id="scroll-container">
        <div id="scroll-text">
            <h1 class="titreMentions">MENTIONS LEGALES</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vehicula id sem volutpat blandit. Sed consectetur elit velit, vitae ultrices ex tincidunt vitae. Vestibulum varius commodo ex, eu tempor velit auctor quis. Duis ac auctor ex. Maecenas posuere mi eu tristique consequat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ultrices turpis lacinia, ultrices ante nec, auctor turpis. Vivamus dictum massa quis neque tincidunt dignissim. Maecenas porttitor tincidunt diam vel dictum. Suspendisse tincidunt rutrum egestas. Curabitur nec posuere nibh. Etiam nulla lacus, efficitur vel est imperdiet, tempor dictum dui.<br>

                Duis accumsan nec leo at auctor. Sed et ullamcorper arcu. Cras sit amet lacus non tortor efficitur venenatis sed sit amet magna. Phasellus nec semper eros, vitae condimentum est. Nunc vitae congue odio, quis scelerisque purus. Integer cursus augue non mi accumsan, at blandit nunc blandit. Mauris at dictum enim, vel bibendum ipsum. In eu sem ut lacus maximus posuere in sed odio. Donec accumsan augue leo, eget fermentum lectus condimentum sed. Etiam facilisis dictum blandit. Aliquam sollicitudin commodo diam. Vivamus pellentesque eleifend lorem ac iaculis. Fusce volutpat dui et gravida facilisis. Integer at cursus augue. Aenean eget odio quam. Etiam rhoncus elit neque, at tristique sapien vestibulum vel.<br>

                Morbi id nibh tortor. Aliquam tincidunt viverra lacinia. Sed eget nulla vel ipsum maximus malesuada eu eget diam. Suspendisse ut cursus diam, vitae ultrices augue. Phasellus hendrerit quis nisl a congue. Aliquam at mi tortor. Suspendisse pellentesque, tortor in feugiat aliquam, libero ipsum faucibus dui, at auctor ipsum lorem vitae dolor.<br>

                Nulla nulla odio, lobortis in mollis a, varius non tellus. Vivamus ac commodo enim. Sed posuere eros sem, a cursus dolor aliquet sit amet. Etiam luctus neque eget turpis convallis, et volutpat risus porttitor. Duis sodales ipsum sit amet metus ultrices eleifend. Praesent et porta ante. Quisque viverra blandit ex, et tristique tellus tempus sit amet.<br>

                Nullam vehicula augue quis ultricies gravida. Cras vehicula gravida ante a hendrerit. Donec quis placerat sapien. Cras condimentum, libero eu tincidunt hendrerit, leo velit eleifend libero, et iaculis est mi a massa. Sed interdum ultricies eros at ultrices. Quisque ornare tincidunt rhoncus. Ut a ex eu arcu egestas maximus ut vitae felis. Donec pretium dui sed magna malesuada elementum. Aliquam mattis molestie ex non fermentum. In leo enim, sodales ut justo et, vehicula sagittis ante. Donec semper elit arcu. Sed at bibendum arcu. Integer faucibus lorem congue risus convallis, quis pretium purus ullamcorper.<br>

                Cras eu lacus tellus. Nam nulla mi, posuere porttitor vehicula ut, malesuada et nunc. Nullam dui nunc, placerat ac est sed, elementum efficitur neque. Suspendisse vehicula, enim id rutrum venenatis, ex augue dapibus massa, vitae pulvinar ex nibh id nisl. Ut pellentesque sollicitudin lorem, non interdum lorem aliquet eget. Proin et tellus iaculis, pulvinar sapien a, gravida urna. Aenean vitae pulvinar est. Proin eleifend ut orci sit amet aliquet. Sed vitae lorem odio. Pellentesque est arcu, auctor quis elit ut, dictum rhoncus eros. Praesent ipsum sem, varius sed porta et, vestibulum sit amet ipsum. Nulla tristique, nisi vel pellentesque facilisis, urna quam maximus massa, facilisis ornare purus ex eu tortor. Phasellus velit tortor, ultrices ut nulla et, lacinia dapibus erat. Sed vitae felis mattis, posuere magna ac, fermentum diam.<br>

                Cras justo turpis, molestie id efficitur vitae, gravida id leo. Nulla a nunc at ante egestas convallis. Sed consequat, nisi suscipit ultricies accumsan, augue tellus convallis tellus, sed ultricies lectus diam non risus. Sed pharetra est vitae pretium elementum. Donec molestie ipsum vitae nulla laoreet venenatis. Nulla congue arcu nec erat interdum molestie. Nam blandit, felis vel accumsan tempor, arcu odio convallis augue, nec efficitur mauris lacus ac est. Mauris sagittis rhoncus tempor. Vivamus dictum lectus vel nulla blandit mollis. Mauris justo metus, posuere at enim non, tristique tincidunt libero. Sed vitae elementum ipsum, quis volutpat enim. Donec finibus auctor molestie. Fusce quis mattis lectus.<br>

                Quisque dapibus ante pellentesque massa blandit tempus. Cras dapibus hendrerit diam, eget volutpat odio ultrices sit amet. Quisque rutrum enim nibh, ut mollis arcu sodales ac. Praesent dapibus bibendum nibh, eget blandit elit interdum vitae. Quisque dignissim elit eget dignissim porttitor. Curabitur a arcu sem. Vivamus consequat congue euismod. Cras a tristique eros. Ut et tempor metus. Donec scelerisque sem et lorem sollicitudin eleifend. Suspendisse vehicula libero ac metus fermentum efficitur non nec orci.<br>

                Morbi vel neque ligula. Praesent dapibus nisl nec augue ultrices auctor. Nullam pharetra tellus vulputate ultricies consectetur. Donec hendrerit ornare tellus nec lobortis. Sed vel pellentesque quam, vitae consequat arcu. Nullam blandit sit amet dolor nec finibus. Proin sed tellus faucibus, pretium neque eget, pellentesque neque. Aenean urna odio, accumsan non augue nec, interdum posuere sem. Donec purus risus, scelerisque eu nisi vitae, aliquam egestas nisl. Mauris aliquet imperdiet ligula, at congue ante tristique a. Proin pellentesque, mauris ac varius ullamcorper, erat ante suscipit ipsum, sed tempus nulla sem eget risus. Aenean mollis ipsum id quam aliquam, ut dictum augue faucibus. Vestibulum cursus dictum felis a viverra. Aliquam a orci odio. Donec eros nulla, vehicula at diam eu, dictum ultrices eros. Suspendisse sit amet iaculis massa, nec maximus sapien.
                <br>
                Nunc feugiat felis sit amet neque faucibus feugiat. Curabitur ullamcorper, quam vel tincidunt pulvinar, purus augue consectetur risus, vitae venenatis diam tellus pulvinar nunc. Cras scelerisque porta sollicitudin. Morbi accumsan ipsum a erat tincidunt, et imperdiet nibh feugiat. Nunc urna magna, rutrum et volutpat vel, blandit sed enim. Vivamus at purus ex. In ante urna, elementum vitae vulputate sit amet, bibendum a arcu. Nam iaculis, arcu et feugiat semper, nunc ante consectetur sem, in porttitor nunc leo ac nibh. Duis a maximus velit. Duis pellentesque faucibus libero, ultrices vehicula nisl mattis vitae. Cras fringilla ligula non orci tincidunt, venenatis pellentesque libero laoreet. Proin venenatis finibus velit et tincidunt. Sed scelerisque venenatis purus nec ultrices. <br></p>
        <div>
    </div>
{% endblock %}

