{% extends 'base.html.twig' %}

{% block title %}Qui sommes nous{% endblock %}

{% block body %}
<div class="about">
<div class="cardTom" style="width: 18rem;">
  <img src="{{ asset('img/pp/memojitom.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text-name">Tom</p>
    <p class="card-text-role">Product Owner</p>
    <p class="card-text-mail">Tom@gmail.com</p>
  </div>
</div>
<div class="cardCorentin" style="width: 18rem;">
  <img src="{{ asset('img/pp/memojicorentin.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text-name">Corentin</p>
    <p class="card-text-role">Scrum Master</p>
    <p class="card-text-mail">Corentin@gmail.com</p>
  </div>
</div>
<div class="cardFanou" style="width: 18rem;">
  <img src="{{ asset('img/pp/memojifanou.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text-name">Fanou</p>
    <p class="card-text-role">Lead Dev</p>
    <p class="card-text-mail">Fanou@gmail.com</p>
  </div>
</div>
<div class="cardRobin" style="width: 18rem;">
  <img src="{{ asset('img/pp/memojirobin.jpg')}}" class="card-img-top" alt="...">
  <div class="card-body">
    <p class="card-text-name">Robin</p>
    <p class="card-text-role">Product Owner</p>
    <p class="card-text-mail">Robin@gmail.com</p>
  </div>
</div>
</div>
{% endblock %}

