.middle-nav {
    display: flex;
    justify-content: space-between;
}
.carousel-question {
    display: flex;
}
.titre-br {
    display: flex;
    justify-content: center;
    background-color: grey;
    padding: 1em;
    margin: 1em;
}
.cards {
    display: flex;
    justify-content: space-around;
}
.cards-next{
    display: flex;
    justify-content: space-around;
}
.themes{
    display: flex;
    justify-content: space-around;
}

.quizzbutton{
    width: 100%;
    padding: 2em;
    margin-top: 2em;
}

#avatar{
    width: 75%;
    padding: auto;
}

#profil{
    display: block;
    margin-left: auto;
    margin-right: auto 
}
h1{
    margin-left: 2em;
}

.headerlogo{
    max-width: 200px;
    max-height: 90px;
}
