.tartiflette {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: auto;
    
}

.reblochon {
    border: 1px solid rgb(1, 1, 114);
    border-radius: 3%;
    text-align: center;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 2px 2px rgb(1, 12, 163);
    background-color:  rgb(1, 1, 114);
    margin: auto;
    padding: auto;
    height: auto;
    width: auto;
}

.reblochon:hover {
    transform: scale(1.05);
}

h5{
    font-weight: 800;
}

 
.footerbot{    
    position:inherit;    
    bottom:0;    
    width:100%;    
    padding-top:50px;    
    height:50px;
}

h1 {
    text-align: center;
    color:  rgb(1, 1, 114);
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}