body {
	font-family: "Montserrat", sans-serif;

}

.header-quizz,
.footer-quizz {
	height: 10vh;
}
.question-quizz {
	height: 50vh;
}
.proposition-quizz {
	/* height: 45vh; */
}

.container-progress-bar {
	color: rgb(200, 200, 219);
	background: rgb(1, 1, 114);
	box-shadow: 0 0.2em 0.4em #4593f5;
	font-size: 0.9em;
}

.progress {
	height: 0.2rem;
	background: transparent;
}
.progress-bar {
	background: linear-gradient(to right, #0074d9, #30e9ff);
	border-radius: 0 0.5em 0.5em 0;
}

.questionBlock {
	background-color: rgb(212, 212, 212);
	box-shadow: 0 0.2em 0.5em rgba(29, 42, 58, 0.2);
	min-height: 20vh;
	border-radius: 5px;
	color: #fff;
	font-size: 1.3em;
	font-weight: 500;
	position: relative;
}

.questionBlock::after{
	content: "";
	background: url("/img/old-tv.png");
	background-size: cover;
    margin: 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

.propositions input[type="radio"] + .formbutton {
	/* font-family: "Montserrat", sans-serif; */
	background: rgb(1, 1, 114);
	color: black;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	padding: 0.5rem;
	border: 0;
	border-radius: 0.5rem;
	position: relative;
	top: 0;
	transition: all 100ms ease-in-out;
	box-shadow: 0 0.3em #0074d9, 0 0.5em 0.2em rgba(29, 42, 58, 0.4);
	width: 100%;
	margin: 0.8rem 0;
}
.propositions input[type="radio"]:checked + .formbutton,
.propositions input[type="radio"]:hover + .formbutton {
	color: black;
	text-shadow: 0 -1px #75c03f;
	background: #0074d9;	
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
	top: 0.2em;
	/* box-shadow: 0 0.2em rgba(0, 0, 0, 0.4); */
}

h1 {
	font-family: "Montserrat", sans-serif;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 200;
	text-align: center;
	margin: auto 0;
}

button.sendQuizz:disabled {
	background: rgb(199, 199, 199);
	opacity: 1;
	color: white;
    text-shadow: 2px 0 0 rgb(128, 128, 128), -2px 0 0 rgb(128, 128, 128), 0 2px 0 rgb(128, 128, 128), 0 -2px 0 rgb(128, 128, 128), 1px 1px rgb(128, 128, 128), -1px -1px 0 rgb(128, 128, 128), 1px -1px 0 rgb(128, 128, 128), -1px 1px 0 rgb(128, 128, 128);

}
button.sendQuizz {
	background: #87dd4a;
	width: 100%;
	height: 10vh;
	border: 0;
	color: black;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;

}

.oldtv {
	background: url("/img/old-tv.png");
    background-size: cover;
    margin: 0 auto;
	width: 100%;
	height: auto;
    position: relative;
	text-align: center;
  }
  
  .texte_centrer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }