<div class="col">
	<a href="{{ path('quizz_show', {id:quizz.id}) }}"><div class="card">
		<img src="{{ asset('img/1.png') }}" class="card-img-top img-fluid" alt="..."
		style="height: 200px; width: 100%; display: block; object-fit:cover; background-color: rgb(1, 1, 114);">
		<div class="card-img-overlay">
			<h5 class="card-title navquizztext quizzcard">{{ quizz.name }}</h5>
			<br />
			<br />
			<br />
			<br />
			<p class="card-text text-end navquizztext quizzcard">{{ quizz.description }}</p>
		</div>
	</a></div>
</div>