<div class="col">
	<a href=""><div class="card">
		<img src="{{ theme[0].image }}" class="card-img-top img-fluid" alt="..."
		style="height: 200px; width: 100%; display: block; object-fit:cover;">
		<div class="card-img-overlay">
			<br />
			<br />
			<br />
			<br />
			<br />
			<h3 class="card-title position-absolute bottom-0 start-50 translate-middle-x navquizztext quizzcard">{{ theme[0].name }}</h3>
		</div>
	</a></div>
</div>