<h2 class="h1 my-5">Les O'Quizz du moment !</h2>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
		<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<a href="/quizz/52">
				<img src="{{ asset('img/themes/fri.png')}}" class="d-block w-100 tales" alt="...">
			</a>
		</div>
		<div class="carousel-item">
			<a href="/quizz/54">
				<img src="{{ asset('img/themes/scr.png')}}" class="d-block w-100 tales" alt="...">
			</a>
		</div>
		<div class="carousel-item">
			<a href="/quizz/53">
				<img src="{{ asset('img/quizz/kaa.png')}}" class="d-block w-100 tales" alt="...">
			</a>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
