{% extends "base.html.twig" %}

{% block title %}
Ce quizz n'existe pas. Essaie en un autre !
{% endblock %}



{% block body %}

<h1 class="errortitle">
Ce quizz n'existe pas. Essaie en un autre !
</h1>
    
{% endblock %}