{% extends "base.html.twig" %}

{% block title %}
Ce quizz n'existe pas. Essaie en un autre !
{% endblock %}



{% block body %}

<h1 class="errortitle">
Cette page n'existe pas. Essaie en une autre !
</h1>
    
{% endblock %}