{% extends "base.html.twig" %}

{% block stylesheets %}
{{parent()}}
<link rel="stylesheet" href="{{ asset('css/oquizz404.css')}}">
{% endblock %}

{% block title %}
Ce quizz n'existe pas. Essaie en un autre !
{% endblock %}



{% block body %}
<div class="container-fluid quizz-tv-container">
	<div class="quizz-tv-img-text-wrapper">
		<div class="questionBlock question-quizz text-center">
			<div class="tvscreen">
				<div class="frame">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<div class="caps"></div>
				<canvas id="canvas"></canvas>
			</div>
			<img src="{{ asset ("/img/old-tv.png")}}" alt="">
			<span title="404" class="quizzcardcolor quizzcard glitchy navquizztext">404</span>
			<span class="quizzcardcolor quizzcard2 navquizztext">Cette page n'existe pas! essayer l'une des proposition?</span>
		</div>
	</div>
</div>
<div class="container">
	<div class="container d-grid mx-auto">
		<form id="quizz" method="POST">
			<div class="row propositions">
				
					<div class="col-lg-6 col-sm-12">
						<button type="button" class="formbutton navquizztext d-flex align-items-center justify-content-center" for="">Accueil</button>
					</div>

					<div class="col-lg-6 col-sm-12">
						<button type="button" class="formbutton navquizztext d-flex align-items-center justify-content-center" for="">Liste des themes</button>
					</div>

					{% if is_granted('ROLE_USER') %}
					<div class="col-lg-6 col-sm-12">
						<button type="button" class="formbutton navquizztext d-flex align-items-center justify-content-center" for="">Quizz random</button>
					</div>

					<div class="col-lg-6 col-sm-12">
						<button type="button" class="formbutton navquizztext d-flex align-items-center justify-content-center" for="">Mon profil</button>
					</div>
					{% else %}
					<div class="col-lg-6 col-sm-12">
						<button type="button" class="formbutton navquizztext d-flex align-items-center justify-content-center" for="">S'inscrire</button>
					</div>

					<div class="col-lg-6 col-sm-12">
						<button type="button" class="formbutton navquizztext d-flex align-items-center justify-content-center" for="">Se connecter</button>
					</div>
					{% endif %}
			</div>
		</form>
	</div>
</div>

    
{% endblock %}