@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

:root {
	/* make the backend contents as wide as the browser window */
	--body-max-width: 90%;
	/* change the background color of the <body> */
	--body-bg: #fff;
	/* make the base font size smaller */
	--font-size-base: 13px;
	/* remove all border radius to make corners straight */
	--border-radius: 0.25rem;
}

body {
	font-family: Roboto, sans-serif;
}

input {
	width: 100%;
}

button,
button:focus,
button:focus:not(:focus-visible) {
	box-shadow: none;
	outline: none;
}

section.content-header,
section.content-header::before,
section.content-header::after {
	background-color: var(--body-bg);
}

.form-widget .form-select,
.form-widget input.form-control,
.form-widget textarea.form-control {
	max-width: 100%;
}
.form-group label,
.form-group legend.col-form-label {
	text-align: left;
}
/* Reset Flex to Block */
.field-collection-item,
.form-widget-compound .form-group,
.form-group,
.form-inline .form-inline {
	display: block;
}

.form-widget-compound .form-group {
	padding: 5px;
}

.field-collection-item-complex {
	position: relative;
}

.form-widget input#Quizz_name {
	height: 2em;
	font-size: 1.6em;
	flex: 100%;
}

.field-collection-delete-button {
	position: absolute;
	top: 8px;
	right: 12px;
}

.content-panel {
	max-width: 1300px;
}

.quizzCSS {
	position: relative;
}

.field-collection-add-button,
.field-collection-add-button:focus {
	text-decoration: none;
	margin: 25px 42% 0 42%;
	background-color: #00d1b2;
	color: #fff;
}
.field-collection-add-button:hover {
	background-color: #00c4a7;
	color: #fff;
}

.quizzProps legend {
	display: none;
}

.eaPropositionCSS .form-group:nth-child(2) {
	display: none;
}

/* .eaPropositionCSS:nth-child() .form-group:nth-child(1)::before {
	content: "NON";
	position: absolute;
	display: block;
	margin: 29px 0 0 6px;
	padding: 4px 7px;
	height: 30px;
	background-color: green;
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	color: #fff;
} */

/* .eaPropositionCSS:nth-child(1) .form-group:nth-child(1)::before {
	content: "✔";
	position: absolute;
	display: block;
	margin: 29px 0 0 6px;
	padding: 4px 7px;
	height: 30px;
	background-color: green;
	border-radius: var(--border-radius) 0 0 var(--border-radius);
	color: #fff;
} */
.eaPropositionCSS:nth-child(1) .form-group:nth-child(1)::before {
	content: "✔";
	position: absolute;
	margin: 33px 0 0 9px;
	padding: 1px 5px;
	height: 24px;
	background-color: green;
	border-radius: 50%;
	color: #fff;
	line-height: 22px;
}

.eaPropositionCSS input.answerField {
	padding-left: 29px;
}

.eaPropositionCSS input.propsIsValid {
	border: 1px solid green;
}

.eaPropositionCSS input.propsIsValid {
	border: 1px solid green;
}

/* .eaPropositionCSS input.answerField::before {
	content: "TEXTE";
	position: absolute;
	display: block;
	margin-bottom: 20px;
	width: 100px;
	height: 100px;
	background-color: green;
	z-index: 9999;
} */

/* input[type="checkbox"].isValid {
	display: none;
} */

.quizzProps div::before {
	background: #f00;
}
