{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
<p><a class="btn btn-danger m-2" href="{{ path('user_index') }}" role="button"> < retour </a></p>
    <br />
    <h1>Edit User</h1>
    <br />
    <main class="container">
{% block content %}
	{{ form(form) }}{% endblock %}
    </main>
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
