{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
   

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />

<div class="container">
    <div class="row">
       
        <div class="col-lg-9">
            <div class="row">
            {% for user in users %}
                
            
                <div class="col-sm-6 col-lg-4 mb-4">
                    <div class="candidate-list candidate-grid">
                        <div class="candidate-list-image">
                        {% if user.imageurl is empty %}
									<img src="{{ asset('img/pngLogo.png') }}" class="img-fluid">
								{% else %}
									<img src="{{ vich_uploader_asset(user, 'imageFile') }}" alt="Admin" class="img-fluid">
								{% endif %}
                            
                        </div>
                        <div class="candidate-list-details">
                            <div class="candidate-list-info">
                                <div class="candidate-list-title">
                                    <h5><a href="candidate-detail.html">{{user.login}}</a></h5>
                                </div>
                                <div class="candidate-list-option">
                                    <ul class="list-unstyled">
                                        <li><i class="fas fa-filter pr-1"></i>{{user.email}}</li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                {% endfor %}
                
                
                
                
                
                
                
            </div>
           
        </div>
    </div>
</div>
{% endblock %}
