{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
   <div class="container">
<div class="main-body">

    

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
      {% for user in users %}
          
      
        <div class="col mb-3">
          <div class="card">
            
            <div class="card-body text-center">
            {% if user.imageurl is empty %}
              <img src="{{ asset('img/pngLogo.png') }}" style="width:100px;margin-top:-30px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
              {% else %}
              <img src="{{ vich_uploader_asset(user, 'imageFile') }}" style="width:100px;margin-top:-30px" alt="User" class="img-fluid img-thumbnail rounded-circle border-0 mb-3">
              {% endif %}
              <a style="text-decoration:none" href="{{ path('user_profil', {'id': user.id}) }}"><h5 class="card-title">{{user.login}} </h5></a>
              
            </div>
            <div class="card-footer" style="text-align:center">
              <button class="btn btn-light btn-sm bg-white has-icon btn-block" type="button"><i class="material-icons"></i>Follow</button>
            </div>
          </div>
        </div>{% endfor %}
      </div>
    </div>
    </div>


{% endblock %}
