{% extends 'base.html.twig' %}

{% block title %}Créer un nouvel utilisateur{% endblock %}

{% block body %}
<p><a class="btn btn-danger btn-sm m-2" href="{{ path('user_index') }}" role="button"> < retour </a></p>
    <br />
    <h1>Créer un nouvel utilisateur :</h1>
    <br />

    {{ include('user/_form.html.twig') }}
    
{% endblock %}
