{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}
	<ul>
		{% for quizz in quizzs %}
			<li>{{ quizz.name }}</li>
		{% endfor %}
	</ul>
{% endblock %}
