{% extends 'base.html.twig' %}

{% block title %}
	Liste 
{% endblock %}

{% block body %}
<a class="btn m-2 navquizztext" href="{{ path('theme_list') }}" role="button"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/76c3340a-ac2f-4fd7-a402-05cff3ff8b6b/ddvn3zp-fa1e1739-7cd7-45d3-b707-f30fe9fd1e65.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzc2YzMzNDBhLWFjMmYtNGZkNy1hNDAyLTA1Y2ZmM2ZmOGI2YlwvZGR2bjN6cC1mYTFlMTczOS03Y2Q3LTQ1ZDMtYjcwNy1mMzBmZTlmZDFlNjUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.EQlZT2DAzhG1kuaNT-xcK5jDmXGHa92FTRZkEVLRtEM" class="d-block tales" alt="..." style="width: 90px;">Back to the past !</a>
	<div class="py-1">
		<div class="container">
			<section>
				<h1>Quizz</h1>
				<br />
				<div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-4">
					{% for quizz in quizz %}
						{% include 'cards/_cardlastquizz.html.twig' %}
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
{% endblock %}