{% extends 'base.html.twig' %}

{% block title %}
	Liste 
{% endblock %}

{% block body %}
	<div class="py-5">
		<div class="container">
			<section>
				<h1>Type :</h1>
				<br />
				<div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-3">
					{% for themes in themeparent %}
						{% include 'cards/_cardseries.html.twig' %}		
					{% endfor %}
				</div>
			</section>
		</div>
	</div>
{% endblock %}